hostname: {{ansible_hostname}}
Architecture: {{ansible_architecture}}
IPAddress: {{ansible_all_ipv4_addresses}}
processor: {{ansible_processor}}
processor: {{ansible_processor_count}}
memorytotal: {{(ansible_memtotal_mb | int)/1024}}
memoryfree: {{(ansible_memfree_mb | int)/1024}}
